body {
  background: rgb(250, 228, 241);
}

a {
  color: rgb(241, 57, 192);
}
.App {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.App-header {
  font-size: 32px;
  color: rgb(255, 21, 193);
  font-family: Verdana, sans-serif;
}
