body {
  background: rgb(250, 228, 241);
}

a {
  color: rgb(241, 57, 192);
}
.App {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.App-header {
  font-size: 28px;
  color: rgb(255, 21, 193);
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-style: italic;
}
